body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background-color: #0f4278; /* A professional blue shade */
}

.navbar-brand, .nav-link, .btn-outline-light {
  color: #ffffff !important;
}

.nav-link:hover {
  color: #cce7ff !important; /* Lighter blue for hover effect */
}

.btn-outline-light {
  border-color: #ffffff;
}

.btn-outline-light:hover {
  background-color: #ffffff;
  color: #0056b3;
}
